<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TLD diagnostics</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <script type='text/javascript' src="blockbuilder.js"></script>
    </head>

    <body>
        <div id="top"> </div>
        <div class="container1">
            <div id="nodelist" class="row"></div>
        </div>
    </body>

    <div id="template" class="col-lg-4" hidden>
        <div class="card card-primary">
            <div class="card-header  fctcmd">
            </div>
            <div class="card-body">
                 <div  class="row">
                    <div  class="col-lg-3 text-center fctin" ></div>
                    <div  class="col-lg-6 text-center fctfcts" style="background-color: grey;"></div>
                    <div  class="col-lg-3 text-center fctout"></div>
                </div>
            </div>
        </div>
    </div>
</html>



